main {
    min-height: 500px;
    ;

    .cardShopMaster {
        cursor: pointer;
        .btn{
            display: none;
        }

    }

    form{
        .btn-block{
            display: none;
        }
    }

}
.btn[disabled] {
    cursor: not-allowed;
  }
